@model IEnumerable<ETickets.Models.Movie>

<div style="display:flex;flex-direction:row;justify-content:space-between">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div>
            <a class="btn btn-primary" href="/Movie/Create" style="border-radius:2px" role="button">Create New </a>
        </div>
    }
    <div style="width:400px;">
        <form class="d-flex" role="search" asp-action="Search" asp-controller="Movie">
            <input class="form-control me-2" name="temp" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    
</div>
<br />
 
<div class="card-group"style="display:flex;flex-wrap:wrap">
  @foreach (var item in Model)
    {
          
            <div class="card mb-3 " style="min-width:540px; margin-right:15px;">
            <div style="color:black;padding:8px; background-color:darkgray;display:flex;justify-content:space-between;align-items:center">
                <h5 class="card-title">@item.Name</h5>
                @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a href="/Movie/Edit/@item.Id"><i class="bi bi-pencil-square" style="font-size:25px ;color:black"></i></a>
                }
                </div>
         
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/images/@item.ImgUrl" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <p class="card-text">Price: <strong style="background-color:#333;color:whitesmoke;padding:4px">@item.Price</strong></p>
                            <p class="card-text">Cinema: @item.Cinema.Name</p>
                            <p class="card-text">Start Date: @item.StartDate</p>
                            <p class="card-text">End Date: @item.EndDate</p>
                        <p class="card-text">Category:<a href="/Movie/GetDetails/@item.CategoryId"> @item.Category.Name</a></p>

                        @if ((DateTime)ViewData["dateTimeNow"] > @item.StartDate &&
                       (DateTime)ViewData["dateTimeNow"] < @item.EndDate)
                        {
                             
                            <span class="card-text" style="background-color:royalblue;padding:4px;color:whitesmoke;border-radius:2px">
                                    Availavle
                                </span>
                            
                            
                            <br />
                        } 
                        else if ((DateTime)ViewData["dateTimeNow"] < @item.StartDate)
                        {
                            
                             
                                <span class="btn btn-secondary" style="padding:4px;color:whitesmoke;border-radius:2px">
                                  UpComing
                                </span>
                              
                            <br />
                        }
                        else
                        {
                             
                                <span class="card-text" style="background-color:darkred;padding:4px;color:whitesmoke;border-radius:2px">
                                 Expired
                                </span>
                             
                            <br />
                        }
                        <br />
                        <div>
                            <a class="btn btn-outline-secondary" style="border-radius:2px" href="/Movie/movie/@item.Id" role="button">
                                More Details</a>
                            @if (@item.MovieStatus == ETickets.Enums.MovieStatus.Expired)
                            {
                                <a class="btn btn-secondary"   style="border-radius:2px" role="button">Book Ticket</a>

                            }
                            else
                            {
                                <a class="btn btn-success" href="#" style="border-radius:2px" role="button">Book Ticket</a>

                            }
                        </div>
                        </div>
                    </div>
                </div>
            </div>
         
     
    
}
</div>

 
           
